/*------------------------------------------------------------------

  Navbar

-------------------------------------------------------------------*/
.no-transition *,
.no-transition *:before,
.no-transition *:after {
    transition: none !important;
}
.navbar-youplay {
    border: none;
    min-height: $navbar-sm-height;
    background: rgba($back_darken_color, 0.4);
    transition: .3s background ease;

    a {
        text-decoration: none;
    }

    // height
    .navbar-brand {
        display: block;
        height: $navbar-height;
        line-height: $navbar-height - 5; // i don't know why without 5px logo is centered :(
        margin-left: 15px;
        transition: .3s ease;
        will-change: height, width, line-height;

        @media #{$media-xs} {
            float: none;
            margin: 0 auto;
        }
    }
    .navbar-nav > li > a {
        height: $navbar-height;
        padding: $navbar-height/3.3 0;
        transition: .3s ease;
        will-change: height, padding;
    }

    // labels
    .navbar-nav > li > a > .label {
        display: block;
        padding: 0;
        text-transform: none;
        color: $text_mute_color;
        transition: .3s ease;
        text-align: left;

        &:before {
            content: none;
        }
    }
    .navbar-nav > li > a:hover > .label,
    .navbar-nav > li > a:focus > .label,
    .navbar-nav > li.open > a > .label {
        color: $text_color;
    }

    // brand image
    .navbar-brand {
        padding: 0;
    }
    .navbar-brand img {
        display: inline-block;
        max-width: 100%;
    }

    // menu items
    .navbar-nav > li > a,
    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus,,
    .navbar-nav > li.open > a {
        color: $text_color;
    }
    .navbar-nav > li > a {
        text-transform: uppercase;
        font-size: 13px;
    }
    .navbar-nav > li {
        margin-left: 30px;
    }

    // caret
    .caret {
        border-width: 3px;
    }

    // badge
    .badge {
        position: absolute;
        text-align: center;
        font-size: 10px;
        min-width: 17px;
        height: 17px;
        line-height: 17px;
        padding: 0 6px;
        margin-top: -4px;
        margin-left: -4px;
        letter-spacing: 0px;
    }

    // active/open menu items colors change
    .navbar-nav > .active > a,
    .navbar-nav > .active > a:focus,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .open > a,
    .navbar-nav > .open > a:focus,
    .navbar-nav > .open > a:hover,
    .nav .open > a,
    .nav .open > a:focus,
    .nav .open > a:hover {
        color: $text_color;
        background: none;
    }

    // active menu items decoration
    .navbar-nav > .active > a,
    .navbar-nav > .active > a:focus,
    .navbar-nav > .active > a:hover {
        &:after {
            content: '';
            position: absolute;
            background: $text_color;
            height: 2px;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    // dropdown
    .navbar-nav > li > .dropdown-menu,
    .dropdown-menu {
        display: table;
        border: none;

        // change default colors
        background: $back_darken_color;
        background: rgba($back_darken_color, 0.8);

        > ul {
            display: table-cell;
            list-style: none;
            margin: 0;
            padding: 0;
            min-width: 160px;

            > li > a {
                position: relative;
                display: block;
                color: $text_color;
                padding: 10px 25px;
                padding-bottom: 5px;
                white-space: nowrap;

                // submenu items decoration
                &:after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 5px;
                    width: 100%;
                    border-bottom: 1px solid;
                    transition: .3s transform ease;
                    transform: scaleX(0);
                    transform-origin: 0;
                    opacity: 0.5;
                }
            }
            > li > a:focus,
            > li > a:hover,
            > li.active > a,
            > li.open > a {
                &:after {
                    transform: scaleX(1);
                }
            }

            // divider
            .divider {
                background: rgba($text_color, 0.15);
            }
        }
    }

    // dropdown on hover
    .dropdown-hover > .dropdown-menu {
        display: block;
        visibility: hidden;
        opacity: 0;
        transform: translateY(10px);
        transition: .2s visibility ease, .2s opacity ease, .2s transform ease;
    }
    .dropdown-hover:hover > .dropdown-menu,
    .dropdown-hover.open > .dropdown-menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    // dropdown top offset
    .navbar-nav > li > .dropdown-menu {
        margin-top: 10px;

        // fix on hover gap
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: -10px;
            width: 100%;
            height: 10px;
        }
    }

    // arrow for first dropdown
    .nav > .dropdown > .dropdown-menu:after {
        content: " ";
        position: absolute;
        pointer-events: none;
        border: solid transparent;
        bottom: 100%;
        left: 20px;
        height: 0;
        width: 0;
        border-bottom-color: rgba($back_darken_color, 0.8);
        border-width: 6px;
        margin-right: -6px;
    }
    .navbar-right > .dropdown > .dropdown-menu:after {
        margin-right: 0;
        margin-left: -6px;
        right: 20px;
        left: auto;
    }

    // small navbar size
    &.navbar-small {
        background: $back_darken_color;
        background: rgba($back_darken_color, 0.94);

        .navbar-brand {
            height: $navbar-sm-height;
            line-height: $navbar-sm-height - 5; // i don't know why without 5px logo is centered :(
        }
        .navbar-nav > li > a {
            height: $navbar-sm-height;
            padding: $navbar-sm-height/3.3 0;

            > .label {
              display: none;
            }
        }
    }

    // toggle button
    .navbar-toggle,
    .navbar-toggle:hover,
    .navbar-toggle:focus {
        border: none;
        background: none;

        .icon-bar {
            width: 25px;
            background: $text_color;
            transform-origin: 100% 50%;
            transition: .3s margin-top ease, .3s transform ease, .3s opacity ease;
        }
        .icon-bar + .icon-bar {
            margin-top: 6px;
        }
    }
    .navbar-toggle {
        margin-top: 23px;
        transition: .2s margin-top ease;
    }
    &.navbar-small .navbar-toggle {
        margin-top: 8px;
    }

    &.youplay-navbar-collapsed .navbar-toggle,
    &.youplay-navbar-collapsed .navbar-toggle:hover {
        :nth-child(3) {
            opacity: 0;
        }
        :nth-child(2) {
            transform: rotate(45deg) translate(9px, 15px);
        }
        :nth-child(4) {
            transform: rotate(-45deg) translate(9px, -15px);
        }
    }


    // navbar collapse
    @media #{$media-xs} {
        &,
        &.navbar-small {
            background: none;
        }
        .navbar-header {
            background: $back_darken_color;
            background: rgba($back_darken_color, 0.4);
        }
        &.navbar-small .navbar-header {
            background: $back_darken_color;
            background: rgba($back_darken_color, 0.94);
        }
        .navbar-collapse {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            width: 90%;
            max-width: 400px;
            margin: 0;
            padding: 30px;
            padding-top: $navbar-height + 15px;
            overflow-y: auto;
            max-height: 100%;
            border: none;
            background: $back_darken_color;
            transition: .3s padding-top ease, .5s transform ease;

            &:before {
                content: '';
                display: block;
                position: fixed;
            }

            &.collapse {
                display: block;
                transform: translateX(100%);
            }

            .navbar-nav {
                margin: 0;
            }

            // menu items
            .navbar-nav > li {
                margin-left: 0;
            }
            .navbar-nav > li > a {
                padding: $navbar-sm-height/3.3 0;
                height: $navbar-sm-height;
            }
            .dropdown-menu > ul > li > a,
            .navbar-nav > li > .dropdown-menu > ul > li > a {
                padding: 10px 0;
            }

            .dropdown-submenu > .dropdown-menu,
            .dropdown-hover > .dropdown-menu {
                opacity: 1;
                visibility: visible;
                transform: none;

                &:after {
                    content: none;
                }
            }
            .dropdown-submenu > [data-toggle] + .dropdown-menu,
            .dropdown-hover > [data-toggle] + .dropdown-menu {
                display: none;
            }
            .dropdown-submenu.open > .dropdown-menu,
            .dropdown-hover.open > .dropdown-menu {
                display: block;
            }

            // dropdown menu
            .open .dropdown-menu > li > a {
                color: $text_mute_color;
            }
            .open .dropdown-menu > li.open > a,
            .open .dropdown-menu > li > a:hover,
            .open .dropdown-menu > li > a:focus {
                color: $text_color;
            }
            .navbar-nav > li > .dropdown-menu,
            .navbar-nav > li > .dropdown-menu > ul {
                display: block;
                position: relative;
                margin: 0;
                width: 100% !important;
            }
            .navbar-nav > li {
                clear: both;
            }
            .dropdown-submenu > .dropdown-menu {
                position: relative;
                left: auto;
                right: auto;
                width: 100% !important;
                margin: 0;

                &:before, &:after {
                    content: none;
                }
            }
            .dropdown-submenu > .dropdown-menu > ul {
                float: none;
            }
            .dropdown-submenu > a:before {
                border-color:transparent;
                border-top-color:$text_color;
            }
            .dropdown > .dropdown-menu {
                padding-left: 20px;
            }
        }

        // small navbar
        &.navbar-small .navbar-collapse {
            padding-top: $navbar-sm-height + 15px;

            .navbar-nav > li > a > .label {
                display: block;
            }
        }

        // header over collapse
        .navbar-header {
            position: relative;
            z-index: 1;
        }

        // remove shadows
        .dropdown-menu {
            box-shadow: none;
        }

        // hide content
        ~ .content-wrap {
            opacity: 1;
            transition: .5s opacity ease;
        }
        &.youplay-navbar-collapsed ~ .content-wrap {
            opacity: 0.3;
        }
    }
}


/*
 * bootstrap dropdown submenus
 * from http://www.bootply.com/86684
 */
.dropdown-submenu {
    position:relative;

    > .dropdown-menu {
        top:0;
        left:100%;
        margin-top: -15px;
        margin-left: 10px;

        // arrow
        &:after {
            content: " ";
            position: absolute;
            pointer-events: none;
            border: solid transparent;
            right: 100%;
            top: 30px;
            height: 0;
            width: 0;
            border-right-color: rgba($back_darken_color, 0.8);
            border-width: 6px;
        }

        // fix gap
        &:before {
            content: '';
            position: absolute;
            left: -10px;
            top: 0;
            width: 10px;
            height: 100%;
        }
    }
    > .dropdown-menu {
        display: block;
        visibility: hidden;
        opacity: 0;
        transform: translateY(10px);
        transition: .2s visibility ease, .2s opacity ease, .2s transform ease;
    }
    &:hover > .dropdown-menu,
    &.open > .dropdown-menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    // arrow
    > a:before {
        display:block;
        content:" ";
        float:right;
        width:0;
        height:0;
        border-color:transparent;
        border-style:solid;
        border-width: 3px;
        border-left-color:$text_color;
        margin-top:7px;
        margin-right:-10px;
    }
    &:hover > a:before {
        border-left-color:$text_color;
    }

    // left drop
    &.pull-left {
        float:none !important;

        // change arrow direction
        > a:before {
            border-color:transparent;
            border-right-color:$text_color;
        }

        > .dropdown-menu {
            left:auto;
            right:100%;
            margin-left: 0;
            margin-right: 10px;

            // arrow
            &:after {
                left: 100%;
                right: auto;
                border: solid transparent;
                border-left-color: $back_darken_color;
                border-left-color: rgba($back_darken_color, 0.8);
                border-width: 6px;
            }

            // fix gap
            &:before {
                left: auto;
                right: -10px;
                top: 0;
            }
        }
    }
}



/*
 * Shopping Cart
 */
.navbar-youplay .dropdown-cart {
    .dropdown-menu {
        width: 260px;
        padding-top: 1rem;
    }
    .youplay-side-news {
        padding-left: 2rem;
        padding-right: 1rem;
    }
}
